.box {
  margin: 0 auto;
  font-weight: normal;
  padding-bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  /* outline: 1px tomato solid; */
}

.filter {
  display: block;
  margin: 0 15px;
  padding-bottom: 20px;
  /* outline: 1px tomato solid; */
}

.title {
  width: 300px;
  color: #2e6a00;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 15px;
  /* outline: 1px tomato solid; */
}

.inputFilter {
  margin: 0 auto;
  height: 30px;
  width: 300px;
  border: 1px solid #6d986b;
  border-radius: 5px;
}
.inputFilter:hover,
:focus {
  border: 1px solid #0c803c;
}



